# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

clear-canyon-454114-p5-a911fe242f29.json
fluent-justice-472015-p1-256d7c9ae0ca.json

src/components/display/cache.json
src/components/display/output/*

.env

backend/.serverless